extends swaggerbase

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block masthead
    <!-- Main jumbotron for a primary marketing message or call to action -->
    div(class="jumbotron")
        div(class="container")
            h1 #{swagger.info.title}
            p #{swagger.info.description}
            p Version: #{swagger.info.version}
    div(style='clear: both')                

block content
    h1 API Objects
    div(class='item-wrapper')
        each item in Object.keys(objects)
            div(class='item')
                a(href=item + '/index.html') #{item}
    p &nbsp;
    hr
    h2 Type Definitions
    div(class='item-wrapper')
        each definition in Object.keys(swagger.definitions)
            div(class='item')
                a(href='definitions/' + definition + '.html') #{definition}
    div(style='clear: both')