extends swaggerbase

block masthead
    <!-- Main jumbotron for a primary marketing message or call to action -->
    div(class="jumbotron")
        div(class="container")
            h1 #{swagger.info.title}
            p #{swagger.info.version} #{swagger.info.description}
            p 
                a(class="btn btn-primary btn-lg" href="#" role="button") Learn more &raquo;

block content
    h1 Objects
    div 
        each item in Object.keys(objects)
            li 
                a(href=item + '/index.html') #{item}
        
    h2 Definitions
    div
        each definition in Object.keys(swagger.definitions)
            li
                a(href='definitions/' + definition + '.html') #{definition}
